h1{
    color: #7b6aca;
    font-weight: bold;
   
}

.center {
    text-align: center;
}

body{
    background-color:pink;
}

img{
    width: 350px;
}

p{
    font-style: italic;
}

a:hover{ 
    color: rgb(204, 30, 181)
}

img:hover{
    width: 100px
}