*{
    margin: auto;
}
p{
    margin: 40px;
    border: 2px solid black;
    padding: 40px;
}
h1{
    color: #7b6aca;
    font-weight: bold;
     text-align: center;
}

.center {
    text-align: center;
}

body{
    background-color:pink;
    text-align: center;
}
hiper{
    display: inline;
    padding: 40px;
    margin-bottom:    50px;
}

img{
    width: 350px;
}

p{
    font-style: italic;
}

a:hover{ 
    color: rgb(204, 30, 181)
}

img:hover{
    width: 100px
}