*{
    margin: auto;
}
p{
    margin: 40px;
    border: 2px solid black;
    padding: 40px;
}
h1{
    color: #7b6aca;
    font-weight: bold;
     text-align: center;
}

.center {
    text-align: center;
}

body{
    background-color:pink;
    text-align: center;
}
hiper{
    display: inline;
    padding: 40px;
    margin-bottom: 50px;
}

/* img{
    width: 350px;
} */

p{
    font-style: italic;
}

a:hover{ 
    color: rgb(204, 30, 181)
}

/* img:hover{
    width: 100px
} */
.cuadro1{
    width: 400px; 
    height: 400px;
    border: 40px rgb(0, 0, 0);
    padding: 5%;
    background-color: rgba(165, 126, 202, 0.829) ;
    margin: 5%;

    position: static;

}
.cuadro2{
    width: 100px;
    height: 100px;
    border: 40px rgb(0, 0, 0);
    padding: 2%;
    background-color: rgba(43, 226, 186, 0.801) ;
    margin: 5%;

    position: fixed;
    top: 40px

}
.cuadro3{
    width:100px;
    height: 100px;
    border: 20px rgb(0, 0, 0);
    padding: 2%;
    background-color: rgba(64, 226, 43, 0.795) ;
    margin: 5%;
    left: 40px;
    top: 40px;

}
iframe{
display: block;
margin: 25% auto;
}

img:hover {
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transform:rotateZ(-180deg);
    filter:grayscale(100%);
}

    